# .env

# URL del fichero EPG original que se va a descargar.
EPG_URL="https://raw.githubusercontent.com/davidmuma/EPG_dobleM/master/guiaiptv.xml"

# Nombre del fichero XML que se generará con las correcciones.
OUTPUT_FILENAME="guiaiptv.xml"

# Zona horaria de destino deseada (offset en horas).
# Ejemplo: 2 para CEST (horario de verano en España), 1 para CET (horario de invierno).
TIMEZONE_OFFSET_HOURS=2